{% extends "FTProjetStageBundle::index.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href=" {{ asset('css/registration.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% endblock %}

{% block body %}
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Mot de passe oublié</div>
        <div class="login-form-1">
            <form id="forgot-password-form" class="text-left">
                <div class="etc-login-form">
                    <p>Veuillez rentrer votre adresse email et nous vous enverrons les instructions pour redéfinir votre mot de passe</p>
                </div>
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>Déjà un compte? <a href=" {{ path('ft_user_connexion') }} ">Cliquez ici</a></p>
                    <p>Nouvel utilisateur? <a href=" {{ path('ft_user_inscription') }} ">Créer un compte</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}