#fixedContainer {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fixedLi {
    list-style-type: none;
    padding-top: 5px;
}

.fixedLi:hover {
    background-color: lightgrey;
}

.fixedLi a:hover {
    text-decoration: none;
}

.fixedLi a {
    text-decoration: none;
}

#fixedDiv {
    background-color: #f8f8f8;
    position: absolute;
    width: 180px;
    top: -20px;
    left: 30px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}