{% extends "FTProjetStageBundle::index.html.twig" %}
{% block body %}
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Modification du mot de passe</div>
        <div class="login-form-1">
            <form id="login-form" class="text-left" action="{{ path('ft_personne_modif_password') }}" method="post">
                {% if error is defined %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="main-login-form">
                    <div class="login-group">
                        {# Nouveau mot de passe #}
                        <div class="form-group">
                            <label for="oldPassword" class="form-control">Ancien mot de passe</label>
                            <input type="password" class="form-control" id="oldPassword" name="_oldPassword"
                                   placeholder="ancienMdp">
                        </div>
                        {# Nouveau mot de passe #}
                        <div class="form-group">
                            <label for="newPassword" class="form-control">Nouveau mot de passe</label>
                            <input type="password" class="form-control" id="newPassword" name="_newPassword"
                                   placeholder="nouveauMdp">
                        </div>
                        {# Confirmation du nouveau mot de passe #}
                        <div class="form-group">
                            <label for="newPasswordConfirm" class="form-control">Confirmation du nouveau mot de
                                passe</label>
                            <input type="password" class="form-control" id="newPasswordConfirm"
                                   name="_newPasswordConfirm"
                                   placeholder="nouveauMdp">
                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}