{% extends "FTProjetStageBundle::index.html.twig" %}

{% block body %}
    <div class="container">
        <h2>Liste de mes projets créés</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Sujet</th>
                <th>Date limite</th>
            </tr>
            </thead>
            <tbody>
            {% for projet in listeProjetsProprietaire %}
                <tr>
                    <td>{{ projet.titre }}</td>
                    <td>{{ projet.sujet }}</td>
                    <td>{{ projet.dateLimite|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}