{% extends 'FTProjetStageBundle::index.html.twig' %}

{% block body %}
    <div id="fixedContainer">
        <div id="fixedDiv">
            <li class="fixedLi"><a href="{{ path('ft_admin_personnes_liste') }}">Voir la liste des personnes</a></li>
        </div>
    </div>
{% endblock %}