{% extends "FTProjetStageBundle::index.html.twig" %}

{% block body %}
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Création d'une équipe</div>
        <div class="login-form-1">
            {{ include("FTProjetStageBundle:Etudiant:form.html.twig") }}
        </div>
    </div>
{% endblock %}